<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formulario</title>
</head>
<body>
  <h1>{{cabeza}}</h1>
  <form id="formularioRegistro">
    <label>Nombre</label>
    <input type="text"  maxlength="20">
  <br><br>
    <label>Apellido</label>
    <input type="text" maxlength="20">
  <br><br>
    
    <textarea name="comentario" id="comentario" cols="30" rows="10">
      En las clases del día viernes aprendí, y también recordé detalles sobre HTML y CSS.  Por otro lado comencé a entender la utilización del Framework angular y como realizar Test unitarios.
    </textarea>
    
<br><br>
    <!-- <ul>
      <li *ngFor="let item of service.usuarios[0].data;">
        {{item.first_name}}
      </li>
    </ul> -->

    <select name="listado" id="listado">
      <option *ngFor="let item of usuarios[0].data;">
        {{item.first_name}}
      </option>
    </select>
    
  </form>
  <button (click)="sortNames()">Ordenar nombres</button>
</body>
</html>

